
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

:root {
	--mainColor: #5CDB95;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #05386B;
	--color-131921: #131921;
	--button-color: #05386B;
	--button-hover: #EDF5E1;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}

.button {
	background-color: var(--button-color);
	color: white;
	font-size: 14px;
	padding: 13px 33px;
	border-radius: 25px;
  }
  .button:hover {
	background-color: var(--button-hover);
	color: #131921;
  }
  a {
	text-decoration: none;
	display: inline-block;
  }
  .form-control:focus {
	box-shadow: none;
	border-color: inherit;
  }
  .Link{
	text-decoration: none;
  }
  .gap-10 {
	gap: 10px;
  }
  .gap-15 {
	gap: 15px;
  }
  .gap-30 {
	gap: 30px;
  }
/* header part start */

 .main-nav{
  	height: 5rem;
  	display: grid;
  	grid-template-columns: 10rem 1fr 1fr 8rem;
	background-color: var(--mainColor);
	color: var(--textColor);
	width: 100%;
	/* border: 2px solid black; */
}

.menu-link {
	grid-column: 3/4;
  }
.menu-link ul{
	height: 5rem;
  	display: flex;
 	align-items: center;
	list-style: none;
	justify-content: space-around;
}
.nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	display: none;
	opacity: 0;
	font-size: 1.3rem;
}

.login,.orders,.home{
	font-size:1.3rem;
	font-weight: bold;
	text-decoration: none;
}
.login:hover{
	text-decoration: none;
	color: #379683;
	
}
.orders:hover{
	text-decoration: none;
	color: #379683;
}
.home:hover{
	text-decoration: none;
	color: #379683;
}
.logo{
	display: grid;
	grid-column: 2/3;
	text-decoration: none;
	justify-content: start;
  	align-items: center;
	font-size: 30px;
	height: 5rem;
}
.brandName:hover{
	text-decoration: none;
}
@media only screen and (max-width: 1024px) {
	.main-nav{
		grid-template-columns: 2rem 2fr 3fr 2rem 1rem;
	}
	.nav-btn {
		display: block;
		opacity: 1;
		grid-column: 4/5;
		grid-row: 1/2;
	}
	.menu-link{
		display: none;
	}
	.mobile-menu-link{
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 99;
		grid-column-start: 1;
		grid-column-end: 6;
		background-color: #5CDB95;
		height: 100vh;
		transition: all 2s linear;
    	transform-origin: top;
	}
	.menu-link ul{
		height: 20rem;
    	display: flex;
    	justify-content: space-around;
    	flex-direction: column;
    	align-items: start;
		transition-delay: 0.2s;
	}
	.nav-btn{
		grid-column: 4/5;
		grid-row: 1/2;
	}
	.logo{
		font-size: 23px;
	}
}


/* header part ends */


/* auth card ends */

.auth-card {
  padding: 20px;
  background-color: white;
  /* width: 500px; */
  margin: 30px auto;
  border-radius: 10px;
}
.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-777777);
}
.auth-card p {
  font-size: 13px;
  color: var(--color-777777);
}
.auth-card .form-control {
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}
.signup {
  background-color: #8EE4AF;
  color: #131921;
  border: none;
}
.signup:hover {
  background-color: var(--button-color);
  color: white;
}

/* auth card ends */

/* footer start */
footer {
  background-color: var(--color-232f3e);
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}
/* footer ends */

/* searchbar starts */

#container{
  margin: 100px auto;
  max-width: 400px;
  width: calc(100% - 100px);
  height: 50px;
  /* background-color: var(--mainColor); */
  /* height: 50px;
  display: flex;
  gap: var(--gap,10px);
  border: 4px solid white;
  padding: 0px 10px 0 0;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: white;
  /* margin: 100px 45%; */
}
.search-box{
	width: 350px;
	display: block;
    padding: 0.375rem 0.95rem ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: none;
    appearance: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
    
}
.search-box:focus{
	outline: none;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-box:hover{
	border: 1px solid #ced4da;
}
.search-button{
	width: 100px;
	background-color: var(--button-color);
	color: white;
	font-size: 14px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: none;
	border: 1px solid #212529;
}
/* store card */
.store-card {
	padding: 15px;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	width: 20rem;
	height: 350px;
	margin: auto;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
	position: relative;
  }
  

/* SeachPage */
.SearchPage{
	background-color: #05386B;
	height: 800px;
	margin: 30px;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	padding: 30px;
	display: grid;
	/* gap: 1.5rem; */
	grid-template-columns: repeat(4, 1fr);
}
.noResult{
	color: white;
    margin: auto 451px;
    font-size: 50px;
    width: 470px;
}
.section-heading{
	margin: 0 2.5rem;
	font: bold;
}
.visit-btn{
	background-color: var(--button-color);
    color: white;
    font-size: 15px;
    padding: 12px 40px;
    border-radius: 14px;
    text-decoration: none;
	transition: 0.2s;
	box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
	border: none;
}
.visit-btn:hover {
	background-color: var(--button-hover);
	color: #131921;
	text-decoration: none;
  }
.card-title{
	width: 300px;
	margin: 5px auto;
}
@media only screen and (max-width: 1024px){
	
	.store-card {
		padding: 10px;
		background-color: white;
		border-radius: 5px;
		overflow: hidden;
		width: 6.5rem;
		height: 9rem;
		margin: auto;
	  }
	.SearchPage{
		background-color: #05386B;
		height: 350px;
		margin: 0;
		overflow: hidden;
		font-family: 'Open Sans', sans-serif;
		padding: 5px;
		display: grid;
		gap: 0.5rem;
		grid-template-columns: repeat(3, 1fr);
	}
	.card-text{
		display: none;
	}
	.card-title{
		font-size: 10px;
		width: 80px;
		margin: 5px auto;
	}
	.visit-btn{
		background-color: var(--button-color);
		color: white;
		font-size: 10px;
		padding: 7px 10px;
		border-radius: 8px;
		text-decoration: none;
		transition: 0.2s;
		box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 2px 2px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 16%), 0 8px 8px rgb(0 0 0 / 20%);
		/* margin-top: 10px; */
		margin-bottom: 10px;
	}
  }
  @media only screen and (max-width: 400px){
	#container{
		margin: 50px auto;
		height: 40px;
	}
	.search-box{
		width: 180px;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		font-size: small;
	}
	.search-button{
		font-size: small;
		border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	}
  }
/* search ends */
/* product-card */
.shop-product-page{
	height: 800px;
    background-color: #05386B;
    margin: 50px 30px 50px 400px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
	display: flex;
	flex-direction: column;
}
.product-card{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    width: 62.8rem;
    height: 9rem;
	margin-bottom: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.product-image{
	width: 180px;
	height: 120px;

}
.section-2{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-transform: capitalize;
}
.product-name{
	font-size: 25px;
}
.add-amount{
	display: flex;
	flex-direction: row;
	width: 80px;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
}
.amount-button{
	width: 33.33%;
	background: black;
	color: white;
	
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.product-amount{
	width: 33.34%;
	padding: 0 8px;
}
.section-3{
	display: flex;
	flex-direction: column;
	gap: .6rem;
}